## Q. 1 - Defined Functions

Build a function that takes a dollar amoount from a previous year and returns its value in 2023 dollars rounded to ONE decimal places.

To accomplish this, you will need to know the formula for converting old dollar amounts to a more current value (hint: you will need to know the CPI conversion formula).

The most recent full-year CPI is for 2023 at `304.7`. Here's the <a href="https://github.com/sandeepmj/datasets/blob/main/cpi-to-2023.csv">CPI for previous years</a>.

**Important Note**: At this time, you will need to manually insert the old year CPI as an argument for a parameter.

In [169]:
## code it here
def cpi(cash, old_cpi):
    todays_cash = (cash * old_cpi)/304.7
    print(round(todays_cash, 1))

In [170]:
## test it here on a few previous years 
cpi(500, 292.6)

480.1

In [171]:
## test it here on a few previous years
cpi(500,255.65)
cpi(500,156.9)
cpi(500,304.7)

419.5
257.5
500.0

## Q. 2 - Movie Sales

Here is the  <a href="https://github.com/sandeepmj/datasets/blob/main/movie-sales.csv">repo that holds the top movies by release-year sales</a> for each year going back to 1995.

Which are the 5 movies that grossed the most in the year they were released?

In [139]:
## code it here...create more cells as necessary.
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/movie-sales.csv")

df.head()

,release_year,title,rating,studio,release_year_total,release_yr_tickets,cpi
0,1995,Batman Forever,PG-13,Warner Bros.,184031112,42306002,152
1,1996,Independence Day,PG-13,20th Century Fox,306169255,69269062,157
2,1997,Men in Black,PG-13,Sony Pictures,250650052,54607854,160
3,1998,Titanic,PG-13,Paramount Pictures,488192879,104092298,163
4,1999,Star Wars Ep. I: The Phantom Menace,PG,20th Century Fox,430443350,84732942,167

In [140]:
df["top_adjusted"] = df.apply(lambda x: x["release_year_total"] * (x["cpi"] / 304.7), axis = 1)
df
pd.options.display.float_format = '{:,.0f}'.format
df.sort_values(by="top_adjusted", ascending = False).head()

,release_year,title,rating,studio,release_year_total,release_yr_tickets,cpi,top_adjusted
24,2019,Avengers: Endgame,PG-13,Walt Disney,858373000,93708843,256,"720,213,541"
27,2022,Top Gun: Maverick,PG-13,Paramount Pictures,718732821,68255728,293,"690,320,820"
28,2023,Barbie,PG-13,Warner Bros.,636225983,59019108,305,"636,225,983"
20,2015,Star Wars Ep. VII: The Force Awakens,PG-13,Walt Disney,742208942,88043765,237,"577,342,097"
23,2018,Black Panther,PG-13,Walt Disney,700059566,76845177,251,"576,927,658"

## Q. 3 Challenge

Can you figure out another way to get only the top 5?

In [215]:
## code it here

df1 = df.query("576927657 <= top_adjusted <= 720213542")
df1.sort_values(by="top_adjusted", ascending = False)

,release_year,title,rating,studio,release_year_total,release_yr_tickets,cpi,top_adjusted
24,2019,Avengers: Endgame,PG-13,Walt Disney,858373000,93708843,256,"720,213,541"
27,2022,Top Gun: Maverick,PG-13,Paramount Pictures,718732821,68255728,293,"690,320,820"
28,2023,Barbie,PG-13,Warner Bros.,636225983,59019108,305,"636,225,983"
20,2015,Star Wars Ep. VII: The Force Awakens,PG-13,Walt Disney,742208942,88043765,237,"577,342,097"
23,2018,Black Panther,PG-13,Walt Disney,700059566,76845177,251,"576,927,658"

## Q. 4 What was the median since 1995 (inflation adjusted)

Place in a sentence with pleasing formating.

In [130]:
## code here
f'${df["top_adjusted"].median():,.0f} is the median gross adjusted earnings for blockbuster films since 1995.'

'$280,080,301 is the median gross adjusted earnings for blockbuster films since 1995.'

# Q. 5 Multiple values at one time

Calculate the sum, mean, median, max and min for ticket sales, revenue year it was released and inflation adjusted revenue

In [82]:
## code here
df[["top_adjusted", "release_yr_tickets", "release_year_total"]].agg(["mean", "sum", "median","max", "min"])

          top_adjusted  release_yr_tickets  release_year_total
mean     331,983,236.8        62,101,941.0       450,688,413.8
sum    9,627,513,868.1     1,800,956,289.0    13,069,964,000.0
median   280,080,300.9        57,660,910.0       415,004,880.0
max      720,213,541.4       104,092,298.0       858,373,000.0
min       92,045,754.7        22,267,740.0       184,031,112.0